{% extends 'disciplinary/base_disciplinary.html' %}

{% block disciplinary_content %}
<div class="card">
    <div class="card-header">
        <h2>Report Disciplinary Incident</h2>
    </div>
    <div class="card-body">
        <form method="post" >
            {% csrf_token %}
            {{ form }}
            
            
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Save Incident</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
