{% extends 'disciplinary/base_disciplinary.html' %}

{% block disciplinary_content %}
<div class="card">
    <div class="card-header">
        <h2>Disciplinary Incidents</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <button><a href="{% url 'incident_new' %}">Add Incident</a></button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Student</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Severity</th>
                        <th>Reported By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for incident in incidents %}
                    <tr>
                        <td>{{ incident.incident_id }}</td>
                        <td>{{ incident.student }}
                        </td>
                        <td>{{ incident.description }}</td>
                        <td>{{ incident.date|date:"M d, Y H:i" }}</td>
                        <td>
                            <span class="badge bg-{% if incident.severity_level.level_description == 'MINOR' %}warning{% elif incident.severity_level.level_description == 'MODERATE' %}info{% else %}danger{% endif %}">
                                {{ incident.severitylevel}}
                            </span>
                        </td>
                        <td>
                            {{ incident.reported_by}}
                        </td>
                        <td>
                            <button><a href="{% url 'incident_delete' incident.incident_id %}">Del</a></button>
                            <button><a href="{% url 'incident_edit' incident.incident_id %}">Edit</a></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
